.package-list-container{
    background-color: rgb(250, 250, 250);
}
.packagelist-welcome{
    padding-top: 50px;
    font-weight: 300;
    font-size: 50px;
    padding-left: 60px;

}
.status-container.row {
    width: 900px;
    text-align: center;
    padding: 20px 20px;
    margin-left: 60px;
    margin-bottom: 25px;
}
.status-main-container.row {
    align-items: center;
    width: 145px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}
.status-items-container.col {
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px hsl(0deg 0% 93%);
    margin-left: 20px;
}
.status-icon-container{

}
.status-info-container{

}
.status-type-container{

}
.status-number-container{

}


.filter {
    max-width: 165px;
    margin: auto;
    border-radius: 2px;
    border-color: #6c757d;
}
input#text-filter-column-city::placeholder   {
    color: #6c757d;
}
input#text-filter-column-district::placeholder{
    color: #6c757d;
}
input#text-filter-column-ward::placeholder{
    color: #6c757d;
}
table.table.table-bordered>thead {
    text-align: center;
    vertical-align: middle;
}
.package-list-row:hover{
    background-color: black;
    color: white;
}
.react-bootstrap-table {
    margin: 30px;
    background-color: white;
}
table.table.table-bordered {
    table-layout: auto;
}
table.table.table-bordered {
    border-color: #6c757d;
}