#container-login {
  width: 100%;
  font-family: "Poppins", sans-serif;

  background-image: url("bg.jpg");
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#row-login {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px;
  padding-top: 100px;
}

#form-login {
  padding: 50px;
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
}

#btn-submit {
  width: 100%;
  background-color: #5ed6b3;
  border: none;
}

#btn-submit:hover {
  width: 100%;
  background-color: #fff;
  color: #5ed6b3;
  border: 2px solid #5ed6b3;
}

#checkbox {
  text-align: left;
  /* margin-left: 0px; */
  justify-content: left;
}
